* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}



.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*       HEADER      */
header {
    min-height: 90vh;
    width: 100%;
    /* background-color: rgb(189, 230, 230); */
    overflow: hidden;
    position: relative;
}

/* Video */

.bg-video{
    position:absolute;
    inset: 0;
    width:100%;
    height: 100%;
    object-fit:cover;
    z-index:-2;
}


.overlay{
    height: 100%;
    width: 100%;
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.30);
    z-index:-1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-content{
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
    background:rgba(0,0,0,.03);
    padding: 1rem;
    text-align: center;
    color: white;
    z-index: 10;
    border: none;
    outline: none;
    /* border: 1px solid; */
}

.hero-content h1{
    font-size: 3.5rem;
    letter-spacing: 5px;
}

.hero-content p{
    margin: 20px 0;
    font-size: 1.2rem;
    color: rgb(210, 210, 210);
}

#new {
    color: rgb(195, 160, 71);
    font-weight: 800;
    font-size: 1.7rem;
}

.hero-but {
   padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.hero-but button {
    padding: 0.7rem 1.7rem;
    border: none;
    border-radius: 15px;
}

#trend {
    background-color: rgb(222, 179, 73);
    color: #fff;
    font-size: 1.1rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear;
}

#trend:hover {
    background: transparent;
    border: 1px solid #fff;
    outline: none;
}


#collection {
    background: transparent;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 800;
    border: 1px solid #fff;
    transition: all 0.3s linear;
}

#collection:hover {
    background-color: rgb(222, 179, 73);
    border: none;
}


/*  NAVBAR  */
#navBar {
    height: 10%;
    width: 100%;
    /* background-color: seashell; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.navbar-logo {
    height: 100%;
    width: 15%;
    /* background-color: darkmagenta; */
    display: flex;
    justify-content: start;
    align-items: center;
}

.navbar-logo img {
    height: 100%;
    width: 50%;
}

.navbar-links {
    flex: 2;
    height: 100%;
    width: 45%;
    /* background-color: rgb(42, 152, 62); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-links ul {
    width: 70%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navbar-links ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 700;
}



.navbar-icons {
    height: 100%;
    width: 25%;
    /* background-color: rgb(208, 74, 13); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.navbar-icons span {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.navbar-icons span button {
    background: none;
    padding: 0.5rem;
    border-radius: 50%;
    outline: none;
    border: none;
}

.navbar-icons i {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}



/* HAMBURGER */

.hamburger{
    display:none;
    cursor:pointer;
}

.hamburger i{
    font-size:2rem;
    color:#fff;
}










/*      LOGIN POPUP     */

.login-popup {
    display: none;
    
}

.login-popup.open {
    height: 100vh;
    width: 100%;
    position: fixed;
    
    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;
    right: 0;
    left: 0;
    
    backdrop-filter: blur(8px);
    z-index: 999;

    transition: 0.5s;
}

.login-outer {
    height: 80%;
    width: 80%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:absolute;

    border-radius: 30px;
    background:rgba(0,0,0,.03);
    z-index:-1;
}

.login-close {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.login-close button {
    background: transparent;
    border: none;
    border-radius: 50%;
    outline: none;
    padding: 0.5rem;
}

#login-close i {
    font-size: 1.9rem;
    color: black;
    font-weight: 900;
    transition: all 0.5s linear;
}

.login-heading {
    height: 20%;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-heading h1 {
    color: #fff;
    font-size: 4.8rem;
}

form {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.form-card {
    height: 20%;
    width: 70%;
    /* background-color: azure; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-card label {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 800;
}

.form-card input {
    height: 35%;
    width: 70%;
    border-radius: 10px;
    padding-left: 1rem;
    border: none;
    outline: none;
    background-color: rgb(122, 122, 123);
    color: #fff;
    font-weight: 700;
}

.remember-me {
    height: 10%;
    width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
}


.remember-me label {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 800;
}


.form-card button {
    padding: 2% 18%;
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: rgb(122, 122, 123);
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
    color: #fff;
}


#searchInp {
    width: 0;
    opacity: 0;
    padding: 0.3rem;
    /* border: 1px solid #ccc; */
    border: none;
    border-radius: 10px;
    outline: none;
    transition: all 0.8s ease;
}

#searchInp.active {
    width: 14rem;
    opacity: 1;
}








/*          DETAILS         */
#details {
    width:100%;
    padding: 2rem 5%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.details-outside {
    width:100%;
    max-width:1400px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:2rem;
}

.details-card {
    display:flex;
    align-items:center;
    gap:1rem;
    padding:1.5rem;
    background:#fff;
    border-radius:12px;
    transition:.3s;
    cursor:pointer;
}

.details-card:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}


.details-card-left {
    display:flex;
    justify-content:center;
    align-items:center;
}

.details-card-left i {
    font-size:2.5rem;
    color:grey;
}


.details-card-right {
    display:flex;
    flex-direction:column;
    gap:.3rem;
}

.details-card-right p {
    color: grey;
    font-size: 0.95rem;
}

#details-head {
    font-weight: 700;
    color: grey;
}




/*      Shop By Category        */

#Category {
    height: 55vh;
    width: 100%;
    /* background-color: cornflowerblue; */
}

.category-outer {
    height: 90%;
    width: 90%;
    /* background-color: moccasin; */
    flex-direction: column;
    gap: 1rem;
}

.category-up {
    height: 15%;
    width: 100%;
    /* background-color: rgb(37, 171, 62); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.category-up h1 {
    color: rgb(87, 86, 86);
}

#view-all-category {
    padding: 0.5rem 1.7rem;
    font-size: 1.1rem;
    color: grey;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}


.category-down {
    height: 80%;
    width: 100%;
    /* background-color: rgb(22, 64, 188); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.categories-card{
    height: 90%;
    width: 23%;
    background-color: moccasin;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: end;
    transition: all 0.4s linear;
}

.categories-card:hover{
    transform:translateY(-12px);
    box-shadow:0 15px 30px rgba(0,0,0,.15);
}

.text {
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    backdrop-filter: blur(1px);
    
}

.text h3 {
    color: goldenrod;
    font-size: 2.6rem;
    font-weight: 900;
}

.text button {
    border: none;
    outline: none;
    color: grey;
    background: transparent;
    font-weight: 900;
    font-size: 1.2rem;
    cursor: pointer;
}


#cate-men {
    background-image: url("Assets/cate\ Men.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#cate-women {
    background-image: url("Assets/cate\ women.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#uni {
    background-image: url("Assets/cate\ uni.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#asse {
    background-image: url("Assets/asse.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




/*      Trending        */
#trending {
    height: 55vh;
    width: 100%;
    /* background-color: aquamarine; */
}

.trending-outer {
    height: 90%;
    width: 90%;
    /* background-color: fuchsia; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.trending-up {
    height: 20%;
    width: 100%;
    /* background-color: mediumaquamarine; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.trending-up h1 {
    color: rgb(87, 86, 86);
}

.trending-middle {
    height: 10%;
    width: 100%;
    /* background-color: rgb(197, 120, 6); */
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    gap: 1.5rem;
}

.trending-middle button {
    padding: 0.3rem 1.4rem;
    font-size: 1rem;
    color: grey;
    background: transparent;
    border: none;
    outline: none;
}

#trend-all {
    color: black;
    font-weight: 700;
}

.trending-down {
    height: 60%;
    width: 100%;
    /* background-color: rgb(62, 20, 179); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.trend-card {
    height: 100%;
    width: 15%;
    /* background-color: darkslategrey; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    overflow: hidden;
}

.trend-card img {
    height: 80%;
    width: 100%;
}

.trend-text {
    height: 20%;
    width: 100%;
    /* background-color: khaki; */
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.trend-text h4 {
    color: grey;
    font-weight: 700;
}

.trend-des {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
}

.trend-des p {
    color: grey;
}

.trend-des i {
    color: grey;
}


























/*  ================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================*/


@media (max-width:1200px){

    .hero-content{
        left:30%;
        width:45%;
    }

    .hero-content h1{
        font-size:3rem;
    }

    .navbar-links ul{
        width:100%;
        gap:2rem;
    }

    #Category{
        height:auto;
        padding:3rem 0;
    }

    .category-outer{
        width:95%;
    }

    .text{
        padding:2rem;
    }

    .text h3{
        font-size:2.2rem;
    }

    #trending{
        height:auto;
        padding:3rem 0;
    }

    .trending-outer{
        width:95%;
    }

    .trend-card{
        width:15.5%;
    }

}


@media (max-width:992px){

    .hero-content{
        left:35%;
        width:60%;
    }

    .hero-content h1{
        font-size:2.7rem;
    }

    .hero-content p{
        font-size:1rem;
    }

    .navbar-links ul li a{
        font-size:1rem;
    }

    .navbar-icons span{
        gap:1rem;
    }

    .details-outside{
        grid-template-columns:repeat(2,1fr);
    }

    .category-down{
        flex-wrap:wrap;
        gap:1.5rem;
    }

    .categories-card{
        width:48%;
        height:300px;
    }

    #trending{
        height:auto;
        padding:3rem 0;
    }

    .trending-down{
        flex-wrap:wrap;
        gap:1.5rem;
        justify-content:center;
    }

    .trend-card{
        width:30%;
        height:330px;
    }

}




@media (max-width:768px){

#navBar{
    padding:1rem 5%;
}

.navbar-links{
    display:none;
}

.navbar-logo{
    width:auto;
}

.navbar-logo img{
    width:60px;
    height:auto;
}

.navbar-icons{
    width:auto;
}

.hero-content{
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width:90%;
    text-align:center;
}

.hero-content h1{
    font-size:2.5rem;
    letter-spacing:2px;
}

.hero-content p{
    font-size:1rem;
}

.hero-but{
    flex-direction:column;
}

.hero-but button{
    width:100%;
}

.login-outer{
    width:95%;
    min-height:550px;
}

.login-heading h1{
    font-size:2.8rem;
}

.form-card{
        width:90%;
        flex-direction:column;
        align-items:flex-start;
        gap:.5rem;
    }

    .form-card input{
        width:100%;
        height:45px;
    }

    .remember-me{
        width:90%;
        justify-content:flex-start;
    }

    
     .hamburger{
        display:block;
        z-index:1001;
    }

    .navbar-links{
        position:fixed;
        top:0;
        right:-100%;
        width: 50%;
        height:100vh;
        /* background:#111; */
        backdrop-filter: blur(14px);
        display:flex;
        justify-content:center;
        align-items:center;
        transition:.4s;
        z-index:1000;
    }

    .navbar-links.active{
        right:0;
    }

    .navbar-links ul{
        display:flex;
        flex-direction:column;
        gap:4rem;
        width:100%;
        text-align:center;
    }

    .navbar-links ul li{
        list-style:none;
    }

    .navbar-links ul li a{
        color:white;
        text-decoration:none;
        font-size:1.3rem;
        font-weight:900;
    }

    .navbar-icons{
        margin-left:auto;
        margin-right:15px;
    }

    #details{
        padding:2rem 1rem;
    }

    .details-outside{
        grid-template-columns:1fr;
        gap:1rem;
    }   

    .details-card{
        padding:1rem;
    }

    .details-card-left i{
        font-size:2rem;
    }       

    #details-head{
        font-size:1rem;
    }

    .details-card-right p{
        font-size:.9rem;
    }

    .category-up{
        flex-direction:column;
        gap:1rem;
        text-align:center;
    }

    .category-down{
        justify-content:center;
        gap:1.5rem;
    }

    .categories-card{
        width:90%;
        height:300px;
    }

    .text{
        padding:2rem;
    }

    .text h3{
        font-size:2rem;
    }

    .trending-up{
        flex-direction:column;
        gap:1rem;
        text-align:center;
    }

    .trending-middle{
        justify-content:center;
        flex-wrap:wrap;
        gap:1rem;
    }

    .trending-down{
        flex-wrap:wrap;
        gap:1.5rem;
    }

    .trend-card{
        width:45%;
        height:320px;
    }

    
}




@media (max-width:576px){

header{
    min-height:90vh;
}

.bg-video{
    height:100%;
}

.hero-content{
    width:95%;
    padding:1rem;
}

.hero-content h1{
    font-size:2rem;
}

#new{
    font-size:1.2rem;
}

.hero-content p{
    font-size:.95rem;
}

.hero-but button{
    font-size:.95rem;
}

.login-heading h1{
    font-size:2.2rem;
}

.details-card{
    flex-direction:column;
    text-align:center;
}

.details-card-right{
    align-items:center;
}

.details-card-left i{
    font-size:2.2rem;
}

    .categories-card{
        width:100%;
        height:270px;
    }

    .text{
        padding:1.5rem;
    }

    .text h3{
        font-size:1.8rem;
    }

    .text button{
        font-size:1rem;
    }

    .trend-card{
        width:80%;
        height:340px;
    }

}







@media (max-width:425px){

.navbar-logo img{
    width:50px;
}

.navbar-icons span{
    gap:.5rem;
}

.navbar-icons i{
    font-size:1rem;
}

.hero-content h1{
    font-size:1.8rem;
}

.hero-content p{
    font-size:.9rem;
}

.login-heading h1{
    font-size:1.8rem;
}

.form-card label,
.remember-me label{
    font-size:1rem;
}

.form-card button{
    width:100%;
    font-size:1rem;
    padding:.8rem;
}

    #Category{
        padding:2rem 1rem;
    }

    .category-up h1{
        font-size:1.7rem;
    }

    #view-all-category{
        padding:.6rem 1.3rem;
        font-size:1rem;
    }

    .categories-card{
        height:240px;
    }

    .text h3{
        font-size:1.5rem;
    }
}



@media (max-width:480px){

    #trending{
        padding:2rem 1rem;
    }

    .trending-up h1{
        font-size:1.8rem;
    }

    .trending-middle{
        gap:.8rem;
    }

    .trending-middle button{
        font-size:.9rem;
        padding:.4rem 1rem;
    }

    .trend-card{
        width:95%;
        height:330px;
    }

}



@media (max-width:375px){

.hero-content h1{
    font-size:1.6rem;
}

#new{
    font-size:1rem;
}

.hero-content p{
    font-size:.85rem;
}

.hero-but button{
    padding:.8rem;
}
    .categories-card{
        height:220px;
    }

    .text{
        padding:1rem;
    }

    .text h3{
        font-size:1.3rem;
    }

    .text button{
        font-size:.9rem;
    }

    .trend-card{
        height:300px;
    }

    .trend-text h4{
        font-size:1rem;
    }

    .trend-des p{
        font-size:.9rem;
    }

}





@media (max-width:320px){

    .hero-content{
        width:96%;
    }

    .hero-content h1{
        font-size:1.4rem;
    }

    .hero-content p{
        font-size:.8rem;
    }

    .navbar-icons span{
        gap:.3rem;
    }

    .navbar-icons button{
        padding:.2rem;
    }

    .category-up h1{
        font-size:1.4rem;
    }

    .categories-card{
        height:200px;
    }

    .text h3{
        font-size:1.2rem;
    }

    .trending-up h1{
        font-size:1.5rem;
    }

    .trend-card{
        width:100%;
        height:280px;
    }

}






