* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*       HEADER      */
header {
    min-height:90vh;
    width: 100%;
    /* background-color: rgb(189, 230, 230); */
    background-image: url("../Assets/about.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

/*  NAVBAR  */
#navBar {
    height: 10%;
    width: 100%;
    /* background-color: seashell; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.navbar-logo {
    height: 100%;
    width: 15%;
    /* background-color: darkmagenta; */
    display: flex;
    justify-content: start;
    align-items: center;
}

.navbar-logo img {
    height: 100%;
    width: 50%;
}

.navbar-links {
    flex: 2;
    height: 100%;
    width: 45%;
    /* background-color: rgb(42, 152, 62); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-links ul {
    width: 70%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navbar-links ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 700;
}

.navbar-links ul li a.active {
    color: gold;
}


.navbar-icons {
    height: 100%;
    width: 25%;
    /* background-color: rgb(208, 74, 13); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.navbar-icons span {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.navbar-icons span button {
    background: none;
    padding: 0.5rem;
    border-radius: 50%;
    outline: none;
    border: none;
}

.navbar-icons i {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}



/* HAMBURGER */

.hamburger{
    display:none;
    cursor:pointer;
}

.hamburger i{
    font-size:2rem;
    color:#fff;
}





/*      HErO ABOUT       */

.overlay{
    height: 100%;
    width: 100%;
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.30);
    z-index:-1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-hero-content{
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
    background:rgba(0,0,0,.09);
    padding: 1rem;
    text-align: center;
    color: white;
    z-index: 10;
    border: none;
    outline: none;
}

.about-hero-content h2{
    font-size: 2.5rem;
    letter-spacing: 5px;
    color: white;
}

.about-hero-content p{
    margin: 20px 0;
    font-size: 1.2rem;
    color: rgb(210, 210, 210);
}

.about-hero-but {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about-hero-but button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 15px;
    background-color: rgb(226, 206, 89);
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.5s linear;
}

.about-hero-but button:hover {
    background: transparent;
    border: 1.5px solid gold;
    color: white;
} 



#new {
    color: gold;
    font-weight: 600;
}





/*      LOGIN POPUP     */

.login-popup {
    display: none;
    
}

.login-popup.open {
    height: 100vh;
    width: 100%;
    position: fixed;
    
    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;
    right: 0;
    left: 0;
    
    backdrop-filter: blur(8px);
    z-index: 999;

    transition: 0.5s;
}

.login-outer {
    height: 80%;
    width: 80%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:absolute;

    border-radius: 30px;
    background:rgba(0,0,0,.03);
    z-index:-1;
}

.login-close {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.login-close button {
    background: transparent;
    border: none;
    border-radius: 50%;
    outline: none;
    padding: 0.5rem;
}

#login-close i {
    font-size: 1.9rem;
    color: black;
    font-weight: 900;
    transition: all 0.5s linear;
}

.login-heading {
    height: 20%;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-heading h1 {
    color: #fff;
    font-size: 4.8rem;
}

form {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.form-card {
    height: 20%;
    width: 70%;
    /* background-color: azure; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-card label {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 800;
}

.form-card input {
    height: 35%;
    width: 70%;
    border-radius: 10px;
    padding-left: 1rem;
    border: none;
    outline: none;
    background-color: rgb(122, 122, 123);
    color: #fff;
    font-weight: 700;
}

.remember-me {
    height: 10%;
    width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
}


.remember-me label {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 800;
}


.form-card button {
    padding: 2% 18%;
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: rgb(122, 122, 123);
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
    color: #fff;
}

#searchInp {
    width: 0;
    opacity: 0;
    padding: 0.3rem;
    /* border: 1px solid #ccc; */
    border: none;
    border-radius: 10px;
    outline: none;
    transition: all 0.8s ease;
}

#searchInp.active {
    width: 14rem;
    opacity: 1;
}


















/*      STORY       */
#story {
    margin-top: 3rem;
    height: 50vh;
    width: 100%;
    /* background-color: palevioletred; */
    
}

.story-outer {
    height: 90%;
    width: 90%;
    /* background-color: lightpink; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.story-left {
    height: 90%;
    width: 40%;
    /* background-color: midnightblue; */
    background-image: url("../Assets/about\ store.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}


.story-right {
    height: 90%;
    width: 50%;
    /* background-color: rgb(140, 215, 139); */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}

.story-right h3 {
    color: gold;
    font-size: 1.6rem;
}

.story-right h2 {
    color: rgb(85, 85, 85);
    font-size: 2rem;
    font-weight: 700;
}

.story-right p {
    color: grey;
}


.story-icons {
    height: 25%;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.story-card {
    height: 100%;
    width: 33%;
    /* background-color: palegoldenrod; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s linear;
}

.story-card:hover {
    transform: translateY(-13px);
}

.story-card-left {
    height: 100%;
    width: 30%;
}

.story-card-left i {
    font-size: 2rem;
    color: rgb(94, 93, 93);
}


.story-card-right {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.story-card-right h4 {
    color: rgb(94, 94, 94);
}

.story-card-right p {
    color: grey;
}
























/*      WHY CHOOSE      */
#why-choose {
    margin-top: 4rem;
    height: 25vh;
    width: 100%;
    margin-bottom: 4rem;
}

.choose-outer {
    height: 90%;
    width: 90%;
    flex-direction: column;
}


.choose-head {
    height: 25%;
    width: 100%;
    flex-direction: column;
}

.choose-head h3 {
    color: gold;
    font-size: 1.6rem;
    font-weight: 700;
}

.choose-head h1 {
    color: rgb(87, 87, 87);
}

.choose-body {
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choose-card {
    margin-top: 2rem;
    height: 90%;
    width: 20%;
    background-color: rgb(244, 241, 241);
    display: flex;
    border-radius: 15px;
    border: none;
    transition: all 0.5s linear;
}

.choose-card:hover {
    transform: translateY(-13px);
    box-shadow: inset 2px 3px rgb(231, 231, 231);
}

.choose-left {
    height: 100%;
    width: 30%;
}

.choose-left i {
    font-size: 3rem;
    color: rgb(91, 90, 90);
}


.choose-right {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.choose-right h3 {
    color: gray;
    font-weight: 900;
}

.choose-right p {
    color: grey;
}







/*          NEWS            */
#news {
    height: 25vh;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-outer {
    height: 90%;
    width: 90%;
    background-color: rgb(234, 233, 233);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.news-left {
    height: 100%;
    width: 25%;
    /* background-color: rgb(236, 164, 21); */
    background-image: url("../Assets/about\ store.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.news-middle {
    height: 100%;
    width: 25%;
    /* background-color: rgb(21, 197, 36); */
    flex-direction: column;
    gap: 1.5rem;
}

.news-middle h2 {
    color: rgb(90, 89, 89);
    font-weight: 900;
}

.news-middle p {
    color: grey;
    font-weight: 500;
}

.news-right {
    height: 100%;
    width: 45%;
    /* background-color: rgb(28, 31, 232); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.news-right input {
    padding-left: 1.5rem;
    height: 30%;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(176, 174, 174);
}

.news-right button {
    padding: 0.6rem 1.6rem;
    background-color: rgb(237, 213, 76);
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 10px;
    font-weight: 900;
    transition: all 0.5s linear;
}

.news-right button:hover {
    border: 3px solid rgb(176, 174, 174);
}











/*      FOOTER      */
footer {
    margin-bottom: 0.4rem;
    height: 6.5vh;
    width: 100%;
    /* background-color: aquamarine; */
    background-color: grey;
}


.footer-out {
    height: 100%;
    width: 90%;
    /* background-color: lightcoral; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.footer-left p {
    color: white;
}

.footer-right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.footer-right i {
    font-size: 1.5rem;
    color: #fff;
}







































/*  ================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================*/


@media (max-width:1200px){

    .navbar-links ul{
        width:100%;
        gap:2rem;
    }

    .about-hero-content{
        left:30%;
    }

    .about-hero-content h2{
        font-size:2.2rem;
    }

    #story{
        height:auto;
        padding:3rem 0;
    }

    .story-outer{
        width:95%;
    }

    .story-left{
        width:42%;
        min-height:420px;
    }

    .story-right{
        width:53%;
    }

    #why-choose{
        height:auto;
        padding:3rem 0;
    }

    .choose-outer{
        width:95%;
    }

    .choose-card{
        width:23%;
    }

    .news-middle{
        width:30%;
    }

    .news-right{
        width:40%;
    }

    .news-right button{
        font-size:1.2rem;
    }

}


@media (max-width:992px){

    .navbar-links ul li a{
        font-size:1rem;
    }   

    .navbar-icons span{
        gap:1rem;
    }

    header{
        min-height:80vh;
    }

    .about-hero-content{
        left:35%;
        width:55%;
    }

    .about-hero-content h2{
        font-size:2rem;
        letter-spacing:3px;
    }

    .about-hero-content p{
        font-size:1.05rem;
    }

    .story-left{
        width:45%;
        min-height:380px;
    }

    .story-right{
        width:50%;
    }

    .story-right h2{
        font-size:1.8rem;
    }

    .story-icons{
        gap:1rem;
    }

    .choose-body{
        flex-wrap:wrap;
        justify-content:center;
        gap:1.5rem;
    }

    .choose-card{
        width:45%;
        height:150px;
    }

    #news{
        height:auto;
    padding:3rem 0;
    }

    .news-outer{
        min-height:250px;
    }

    .news-middle{
        width:35%;
        padding:1rem;
    }

    .news-middle h2{
        font-size:1.7rem;
    }   

    .news-right{
        width:35%;
    }

    .news-right input{
        width:65%;
    }

    .news-right button{
        padding:.8rem 1.3rem;
        font-size:1rem;
    }   
}




@media (max-width:768px){

#navBar{
    padding:1rem 5%;
}

.navbar-links{
    display:none;
}

.navbar-logo{
    width:auto;
}

.navbar-logo img{
    width:60px;
    height:auto;
}

.navbar-icons{
    width:auto;
}


.login-outer{
    width:95%;
    min-height:550px;
}

.login-heading h1{
    font-size:2.8rem;
}

.form-card{
        width:90%;
        flex-direction:column;
        align-items:flex-start;
        gap:.5rem;
    }

    .form-card input{
        width:100%;
        height:45px;
    }

    .remember-me{
        width:90%;
        justify-content:flex-start;
    }

    
     .hamburger{
        display:block;
        z-index:1001;
    }

    .navbar-links{
        position:fixed;
        top:0;
        right:-100%;
        width: 50%;
        height:100vh;
        /* background:#111; */
        backdrop-filter: blur(14px);
        display:flex;
        justify-content:center;
        align-items:center;
        transition:.4s;
        z-index:1000;
    }

    .navbar-links.active{
        right:0;
    }

    .navbar-links ul{
        display:flex;
        flex-direction:column;
        gap:4rem;
        width:100%;
        text-align:center;
    }

    .navbar-links ul li{
        list-style:none;
    }

    .navbar-links ul li a{
        color:white;
        text-decoration:none;
        font-size:1.3rem;
        font-weight:900;
    }

    .navbar-icons{
        margin-left:auto;
        margin-right:15px;
    }


    header{
        min-height:75vh;
    }

    .about-hero-content{
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
        width:85%;
        padding:2rem 1rem;
    }

    .about-hero-content h2{
        font-size:2rem;
        letter-spacing:2px;
    }

    .about-hero-content p{
        font-size:1rem;
    }

    .about-hero-but button{
        padding:.9rem 2rem;
        font-size:1rem;
    }

    #story{
        height:auto;
        padding:2rem 0;
    }

    .story-outer{
        flex-direction:column;
        gap:2rem;
    }

    .story-left{
        width:100%;
        min-height:350px;
    }

    .story-right{
        width:100%;
        padding:0;
    }

    .story-right h2{
        font-size:1.7rem;
    }

    .story-icons{
        width:100%;
        justify-content:space-between;
    }

    .story-card{
        width:32%;
    }


    #why-choose{
        height:auto;
        padding:2rem 0;
    }

    .choose-head{
        text-align:center;
        margin-bottom:1.5rem;
    }

    .choose-head h1{
        font-size:2rem;
    }

    .choose-body{
        flex-wrap:wrap;
        gap:1.5rem;
    }

    .choose-card{
        width:46%;
        height:140px;
    }

    .choose-left i{
        font-size:2.5rem;
    } 
    #news{
    height:auto;
    padding:3rem 0;
}

.news-outer{
    flex-direction:column;
    gap:2rem;
    padding:2rem;
}

.news-left{
    width:100%;
    height:220px;
    border-radius:15px;
}

.news-middle{
    width:100%;
    text-align:center;
}

.news-middle h2{
    font-size:2rem;
}

.news-middle p{
    width:90%;
}

.news-right{
    width:100%;
    flex-direction:column;
    gap:1rem;
}

.news-right input{
    width:100%;
    height:50px;
}

.news-right button{
    width:100%;
    padding:1rem;
}

/* Footer */

footer{
    height:auto;
    padding:1rem 0;
}

.footer-out{
    flex-direction:column;
    gap:1rem;
}

.footer-left,
.footer-right{
    width:100%;
    justify-content:center;
}



}




@media (max-width:576px){

    header{
        min-height:90vh;
    }

    .login-heading h1{
        font-size:2.2rem;
    }

    header{
        min-height:70vh;
    }

    .about-hero-content{
        width:90%;
    }

    .about-hero-content h2{
        font-size:1.8rem;
    }

    .about-hero-content p{
        font-size:.95rem;
    }

    .story-left{
        min-height:300px;
    }

    .story-right h2{
        font-size:1.5rem;
    }

    .story-icons{
        flex-direction:column;
        height:auto;
        gap:1rem;
    }

    .story-card{
        width:100%;
        justify-content:flex-start;
        gap:1rem;
    }

    .story-card-left{
        width:15%;
    }

    .story-card-right{
        width:85%;
    }

    .choose-card{
        width:100%;
        height:120px;
    }

    .choose-left{
        width:25%;
    }

    .choose-right{
        width:75%;
    }

    .news-left{
    height:180px;
}

.news-middle h2{
    font-size:1.6rem;
}

.news-middle p{
    font-size:.95rem;
}

.news-right button{
    font-size:1rem;
}

.footer-left p{
    font-size:.9rem;
    text-align:center;
}

.footer-right i{
    font-size:1.3rem;
}



}


@media (max-width:480px){

    .story-left{
        min-height:250px;
    }

    .story-right h3{
        font-size:1.3rem;
    }

    .story-right h2{
        font-size:1.3rem;
    }

    .story-right p{
        font-size:.9rem;
    }

    .choose-head h3{
        font-size:1.3rem;
    }

    .choose-head h1{
        font-size:1.6rem;
    }

    .choose-card{
        padding:0 1rem;
    }

    .choose-left i{
        font-size:2rem;
    }

    .choose-right h3{
        font-size:1rem;
    }

    .choose-right p{
        font-size:.9rem;
    }
    

}




@media (max-width:425px){

    .navbar-logo img{
        width:50px;
    }

    .navbar-icons span{
        gap:.5rem;
    }

    .navbar-icons i{
        font-size:1rem;
    }

    .login-heading h1{
        font-size:1.8rem;
    }

    .form-card label,
    .remember-me label{
        font-size:1rem;
    }

    .form-card button{
        width:100%;
        font-size:1rem;
        padding:.8rem;
    }

    .about-hero-content{
        width:92%;
        padding:1.5rem 1rem;
    }

    .about-hero-content h2{
        font-size:1.5rem;
        letter-spacing:1px;
    }

    .about-hero-content p{
        font-size:.9rem;
    }

    .about-hero-but button{
        width:100%;
        font-size:.95rem;
        padding:.8rem;
    }


    .news-outer{
    width:95%;
    padding:1.5rem;
}

.news-left{
    height:160px;
}

.news-middle h2{
    font-size:1.4rem;
}

.news-middle p{
    font-size:.9rem;
}

.news-right input{
    height:45px;
    padding-left:1rem;
}

.news-right button{
    font-size:.95rem;
    padding:.9rem;
}

.footer-left p{
    font-size:.8rem;
}

.footer-right{
    gap:.8rem;
}

.footer-right i{
    font-size:1.2rem;
}
    

}



@media (max-width:375px){
    .about-hero-content h2{
        font-size:1.35rem;
    }

    .about-hero-content p{
        font-size:.85rem;
    }   

    .story-left{
        min-height:220px;
    }

    .story-card-left i{
        font-size:1.6rem;
    }

    .story-card-right h4{
        font-size:1rem;
    }


    .choose-card{
        height:110px;
    }

    .choose-head h1{
        font-size:1.4rem;
    }

    .news-middle h2{
    font-size:1.25rem;
}

.news-middle p{
    font-size:.85rem;
}

.news-right button{
    font-size:.9rem;
}
}






@media (max-width:320px) {

    .navbar-icons span {
        gap:.3rem;
    }

    .navbar-icons button{
        padding:.2rem;
    }

    .about-hero-content{
        width:95%;
    }

    .about-hero-content h2{
        font-size:1.2rem;
    }

    .about-hero-but button{
        font-size:.85rem;
    }

    .story-left{
        min-height:200px;
    }

    .story-right h2{
        font-size:1.15rem;
    }

    .story-right p{
        font-size:.85rem;
    }

    .story-card-right h4{
        font-size:.9rem;
    }

    .choose-card{
        height:110px;
    }

    .choose-head h1{
        font-size:1.4rem;
    }

    .news-middle h2{
    font-size:1.1rem;
}

.news-middle p{
    font-size:.8rem;
}

.news-right input{
    height:42px;
    font-size:.8rem;
}

.news-right button{
    font-size:.85rem;
    padding:.8rem;
}

.footer-left p{
    font-size:.75rem;
}

.footer-right{
    gap:.5rem;
}

.footer-right i{
    font-size:1rem;
}
}