* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}



/*       HEADER      */
header {
    min-height:90vh;
    width: 100%;
    /* background-color: rgb(189, 230, 230); */
    background-image: url("../Assets/SHop\ .jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

/*  NAVBAR  */
#navBar {
    height: 10%;
    width: 100%;
    /* background-color: seashell; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.navbar-logo {
    height: 100%;
    width: 15%;
    /* background-color: darkmagenta; */
    display: flex;
    justify-content: start;
    align-items: center;
}

.navbar-logo img {
    height: 100%;
    width: 50%;
}

.navbar-links {
    flex: 2;
    height: 100%;
    width: 45%;
    /* background-color: rgb(42, 152, 62); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-links ul {
    width: 70%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navbar-links ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 700;
}

.navbar-links ul li a.active {
    color: gold;
}



.navbar-icons {
    height: 100%;
    width: 25%;
    /* background-color: rgb(208, 74, 13); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.navbar-icons span {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.navbar-icons span button {
    background: none;
    padding: 0.5rem;
    border-radius: 50%;
    outline: none;
    border: none;
}

.navbar-icons i {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}



/* HAMBURGER */

.hamburger{
    display:none;
    cursor:pointer;
}

.hamburger i{
    font-size:2rem;
    color:#fff;
}










/*      LOGIN POPUP     */

.login-popup {
    display: none;
    
}

.login-popup.open {
    height: 100vh;
    width: 100%;
    position: fixed;
    
    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;
    right: 0;
    left: 0;
    
    backdrop-filter: blur(8px);
    z-index: 999;

    transition: 0.5s;
}

.login-outer {
    height: 80%;
    width: 80%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:absolute;

    border-radius: 30px;
    background:rgba(0,0,0,.03);
    z-index:-1;
}

.login-close {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.login-close button {
    background: transparent;
    border: none;
    border-radius: 50%;
    outline: none;
    padding: 0.5rem;
}

#login-close i {
    font-size: 1.9rem;
    color: black;
    font-weight: 900;
    transition: all 0.5s linear;
}

.login-heading {
    height: 20%;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-heading h1 {
    color: #fff;
    font-size: 4.8rem;
}

form {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.form-card {
    height: 20%;
    width: 70%;
    /* background-color: azure; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-card label {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 800;
}

.form-card input {
    height: 35%;
    width: 70%;
    border-radius: 10px;
    padding-left: 1rem;
    border: none;
    outline: none;
    background-color: rgb(122, 122, 123);
    color: #fff;
    font-weight: 700;
}

.remember-me {
    height: 10%;
    width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
}


.remember-me label {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 800;
}


.form-card button {
    padding: 2% 18%;
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: rgb(122, 122, 123);
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
    color: #fff;
}




/*   Search btn   */

#searchInp {
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .8s ease;
}

#searchInp.active {
    width: 200px;
    opacity: 1;
}








/*      Details     */
#details {
    height: 5vh;
    width: 100%;
    background-color: rgb(197, 196, 196);
}


.details-outer {
    height: 100%;
    width: 60%;
   background-color: rgb(197, 196, 196);
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 2rem;
}

.cards-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cards-details i {
    font-size: 1.5rem;
    color: rgb(4, 4, 4);
    font-weight: 900;
}









/*      Main         */

.main-outer{
    margin-top:5rem;
    display:flex;
    gap:20px;
    padding:30px;
    align-items:flex-start;

    height:90vh;
}

.aside {
    height: 100%;
    width: 20%;
    background-color: rgb(220, 218, 218);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    border-radius: 20px;
    /* overflow: hidden; */
    padding: 1rem;
    gap: 6rem;
    overflow-y:auto;
}


.gender {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
}

.categories ul {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
}

.categories ul li {
    transition: all 0.4s linear;
}

.categories ul li:hover {
    font-weight: 800;
    color: grey;
}

.clear-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear-btn button {
    padding: 0.5rem 2rem;
    border-radius: 20px;
    border: none;
    color: grey;
    font-size: 1.1rem;
    font-weight: 600;
    transition: all 0.4s linear;
}

.clear-btn button:hover {
    border: 1px solid grey;
    background-color: gold;
    color: black;
    font-weight: 800;
    /* transform: translateY(-5px); */
}



.cards-section {
    width:80%;
    height:100%;
    display:flex;
    flex-direction:column;
    min-height:0;
}

.card-section-top {
    height:70px;
    flex-shrink:0;
    /* background-color: linen; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex:0 0 70px;
}

.card-section-top input {
    width: 70%;
    height: 70%;
    border-radius: 20px;
    border: 1px solid grey;
    padding-left: 1rem;
    outline: none;
}

.sort {
    width: 30%;
}

.sort select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 70%;
    border-radius: 20px;
    padding-left: 0.3rem;
    font-weight: 600;
    color: grey;
}

.sort label {
    color: grey;
    font-weight: 700;
}

.sort {
    gap: 0.5rem;
}




.cards-outer{
    flex:1;
    overflow-y:auto;
    overflow-x:hidden;

    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
    gap:1.5rem;

    align-items:start;        /* ADD THIS */
    grid-auto-rows:max-content; /* ADD THIS */

    padding:1rem;
}

.product-card{
    background:#fff;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
    transition:.3s;
    cursor:pointer;
    min-height: 520px;
}


.product-card:hover{
    transform:translateY(-8px);
}

.product-card img{
    display: block;
    width:100%;
    height:300px;
    object-fit:cover;
}

.product-info{
    padding:1rem;
}

.product-info h3{
    font-size:1.05rem;
    margin-bottom:.4rem;
}

.product-brand{
    color:grey;
    font-size:.9rem;
}

.product-type{
    display:inline-block;
    background:#f2f2f2;
    padding:.25rem .8rem;
    border-radius:20px;
    margin:.6rem 0;
    font-size:.8rem;
}

.product-price{
    display:flex;
    align-items:center;
    gap:.8rem;
    margin:.7rem 0;
}

.product-price h2{
    font-size:1.3rem;
}

.product-price del{
    color:grey;
}

.product-bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:1rem;
}

.product-bottom button{
    padding:.55rem 1rem;
    border:none;
    border-radius:8px;
    background:black;
    color:white;
    cursor:pointer;
    transition:.3s;
}

.product-bottom button:hover{
    background:gold;
    color:black;
}

.check{
    display:flex;
    align-items:center;
    gap:8px;
}





















/*      FOOTER      */
footer {
    margin-top: 6rem;
    margin-bottom: 0.4rem;
    height: 6.5vh;
    width: 100%;
    /* background-color: aquamarine; */
    background-color: grey;
}


.footer-out {
    height: 100%;
    width: 90%;
    /* background-color: lightcoral; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.footer-left p {
    color: white;
}

.footer-right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.footer-right i {
    font-size: 1.5rem;
    color: #fff;
}

































/*  ================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================*/


@media (max-width:1200px){

.navbar-links ul{
    width:100%;
    gap:2rem;
}

.details-outer{
        width:80%;
}

.aside{
        width:25%;
        gap:4rem;
    }

    .cards-section{
        width:70%;
    }

    .sort{
        width:35%;
    }

}


@media (max-width:992px){

.navbar-links ul li a{
    font-size:1rem;
}

.navbar-icons span{
    gap:1rem;
}

#details{
        height:auto;
        padding:12px 0;
    }

    .details-outer{
        width:90%;
        gap:1rem;
    }

    .cards-details p{
        font-size:.9rem;
    }

    .cards-details i{
        font-size:1.3rem;
    }

    .main-outer{
        padding:0 1rem;
        gap:1rem;
    }

    .aside{
        width:28%;
        gap:3rem;
    }

    .cards-section{
        width:70%;
    }

    .card-section-top{
        width:100%;
    }

    .card-section-top input{
        width:60%;
    }

    .sort{
        width:40%;
    }

    .sort select{
        width:50%;
    }

}




@media (max-width:768px){

#navBar{
    padding:1rem 5%;
}

.navbar-links{
    display:none;
}

.navbar-logo{
    width:auto;
}

.navbar-logo img{
    width:60px;
    height:auto;
}

.navbar-icons{
    width:auto;
}


.login-outer{
    width:95%;
    min-height:550px;
}

.login-heading h1{
    font-size:2.8rem;
}

.form-card{
        width:90%;
        flex-direction:column;
        align-items:flex-start;
        gap:.5rem;
    }

    .form-card input{
        width:100%;
        height:45px;
    }

    .remember-me{
        width:90%;
        justify-content:flex-start;
    }

    
     .hamburger{
        display:block;
        z-index:1001;
    }

    .navbar-links{
        position:fixed;
        top:0;
        right:-100%;
        width: 50%;
        height:100vh;
        /* background:#111; */
        backdrop-filter: blur(14px);
        display:flex;
        justify-content:center;
        align-items:center;
        transition:.4s;
        z-index:1000;
    }

    .navbar-links.active{
        right:0;
    }

    .navbar-links ul{
        display:flex;
        flex-direction:column;
        gap:4rem;
        width:100%;
        text-align:center;
    }

    .navbar-links ul li{
        list-style:none;
    }

    .navbar-links ul li a{
        color:white;
        text-decoration:none;
        font-size:1.3rem;
        font-weight:900;
    }

    .navbar-icons{
        margin-left:auto;
        margin-right:15px;
    }


    #details{
        height:auto;
        padding:15px 0;
    }

    .details-outer{
        width:95%;
        justify-content:space-evenly;
        flex-wrap:wrap;
        row-gap:15px;
    }

    .details-outer > span{
        display:none;
    }

    .cards-details{
        width:45%;
        justify-content:flex-start;
    }

    .divider{
        display:none;
    }

    .main-outer{
        height:auto;
        flex-direction:column;
        align-items:center;
    }

    .aside{
        position:static;
        width:95%;
        height:auto;
        gap:2rem;
        align-items:center;     /* NEW */
        text-align:center;
    }

    .cards-section{
        width:95%;
        height:auto;
    }

    .card-section-top{
        flex-direction:column;
        gap:1rem;
        height:auto;
    }

    .card-section-top input{
        width:100%;
        height:45px;
    }

    .sort{
        width:100%;
        justify-content:flex-end;
    }

    .sort select{
        width:180px;
        height:40px;
    }

    .cards-outer{
        width:100%;
        min-height:600px;
    }

    .gender {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .categories {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer{
        height:auto;
        padding:15px 0;
    }

    .footer-out{
        width:95%;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:15px;
    }

    .footer-left,
    .footer-right{
        width:100%;
        justify-content:center;
        text-align:center;
    }

    .footer-left p{
        font-size:0.95rem;
    }

    .footer-right i{
        font-size:1.8rem;
    }
}




@media (max-width:576px){

header{
    min-height:90vh;
}

.login-heading h1{
    font-size:2.2rem;
}

.details-outer{
        flex-direction:column;
        gap:15px;
    }

    .cards-details{
        width:100%;
        justify-content:center;
    }

    .cards-details p{
        text-align:center;
    }

    .aside{
        padding:1.5rem;
    }

    .gender,
    .categories{
        width:100%;
    }

    .clear-btn button{
        width:100%;
    }

    .sort{
        flex-direction:column;
        align-items:flex-start;
    }

    .sort select{
        width:100%;
    }

}







@media (max-width:425px){

.navbar-logo img{
    width:50px;
}

.navbar-icons span{
    gap:.5rem;
}

.navbar-icons i{
    font-size:1rem;
}

.login-heading h1{
    font-size:1.8rem;
}

.form-card label,
.remember-me label{
    font-size:1rem;
}

.form-card button{
    width:100%;
    font-size:1rem;
    padding:.8rem;
}
.cards-details{
        flex-direction:column;
        gap:8px;
    }

    .cards-details i{
        font-size:1.6rem;
    }

    .cards-details p{
        font-size:.9rem;
    }


    .main-outer{
        margin-top:2rem;
    }

    .aside{
        width:100%;
        border-radius:15px;
    }

    .cards-section{
        width:100%;
    }

    .card-section-top{
        padding:.5rem;
    }

    .card-section-top input{
        font-size:.9rem;
    }

    .footer-left p{
        font-size:0.85rem;
        line-height:1.5;
    }

    .footer-right{
        gap:20px;
    }

    .footer-right i{
        font-size:1.6rem;
    }
    
}



@media (max-width:375px){
    .categories ul{
        gap:.8rem;
    }

    .clear-btn button{
        font-size:1rem;
    }
}





@media (max-width:320px){

.navbar-icons span{
    gap:.3rem;
}

.navbar-icons button{
    padding:.2rem;
}

.cards-details p{
        font-size:.8rem;
}

.card-section-top input{
        padding-left:.7rem;
    }

    .sort label{
        font-size:.9rem;
    }

    .sort select{
        font-size:.85rem;
    }

    .footer-left p{
        font-size:0.75rem;
    }

    .footer-right{
        gap:12px;
    }

    .footer-right i{
        font-size:1.4rem;
    }

}